PORT=8888
DB_URI="mongodb+srv://doxuanbang14122005:h0s3z2mgeesQBiUH@cluster0.ebybahf.mongodb.net/TTS-N12"
HOST="http://localhost"
DB_USER
DB_PASS
JWT_SECRET="mabimat" 
JWT_REFRESH_SECRET 
RESET_PASSWORD_SECRET 
RESET_PASSWORD_EXPIRES = "15m"
NODE_ENV = "development"
SUB_CATEGORY_DEFAULT
CATEGOGY_DEFAULT
# NODE_ENV = "production"

EMAIL_USERNAME=doxuanbang14122005@gmail.com
EMAIL_PASSWORD=lffrwnsmkugcrust

FRONTEND_URL = "http://localhost:5173"


CLOUDINARY_CLOUD_NAME=dneju4pgy
CLOUDINARY_API_KEY=318215236763279
CLOUDINARY_API_SECRET=kOSxTRJubqd2xAb7VpE8y3px0-g